In [5]:
import chardet
file = 'spam.csv'
with open(file,'rb') as rawdata:
  result= chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7270322499829184, 'language': ''}

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('spam.csv',encoding='windows-1252')

In [7]:
df = data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [10]:
x=df["v1"].values
y=df["v2"].values

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [13]:
x_train=cv.fit_transform(x_train)
x_test = cv.transform(x_test)

In [14]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(x_train,y_train)

y_pred = svc.predict(x_test)
y_pred

array(["Sorry, I'll call later", "Sorry, I'll call later",
       "Sorry, I'll call later", ..., "Sorry, I'll call later",
       "Sorry, I'll call later", "Sorry, I'll call later"], dtype=object)

In [15]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test,y_pred)
accuracy

0.003587443946188341